@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    z-index: 999; 
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebe7e4;
    padding: 2vh 4vh;
}


.logo h1{
    font-family: 'Quicksand', sans-serif;
    color: #4D5468;
}

.nav-list-items{
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

.nav-list-items li{
    list-style: none;
}

.nav-list-items li a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: #4D5468;
    padding: 2vh;
    border-radius: 30px;
    font-size: 20px;
}

.nav-list-items li a:hover{
    background-color: #4D5468;
    color: #ebe7e4
}

.home{
    display: flex;
    align-items: center;
    padding: 0 4vh;
    background-color: #ebe7e4;
    height: 92vh;
}

.home-image{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}

.home-right{
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    gap: 5vh;
}

#home-image{
    height: 70vh;
    border-radius: 100px;
}

.home-title{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    max-width: 100vh;
}

.home-title h3{
    font-family: 'Quicksand', sans-serif;
    color: #7091eb;
    font-size: 24px;
}
.home-title h1{
    font-family: 'Quicksand', sans-serif;
    color: #3a58aa;
    font-size: 72px;
}

#home-button{
    padding: 3vh 6vh;
    border-radius: 50px;
    border: 3px solid #3a58aa;
    background-color: #3a58aa;
    font-size: 18px;
    font-weight: bold;
    color: #ebe7e4;
    box-shadow: 5px 5px 10px rgb(195, 195, 195);
    transition: 0.3s;
}

#home-button:hover{
    background-color: #ebe7e4;
    color: #3a58aa;
}

#home-button:active{
    background-color: #3a58aa;
    color:  #ebe7e4;
}

.main-content{
    display: flex;
    background-color: #ebe7e4;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 5;
    gap: 7vh;
    margin: 7vh;
}

article{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 5vh;
    color: #3a58aa;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    box-shadow: 5px 5px 10px rgb(195, 195, 195);
}

.content{
    padding-top: 6vh;
}

article h1{
    font-size: 32px;
}

article h3{
    color: #7091eb;
}

.trivia-content{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

aside{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    gap: 3vh;
    padding: 7vh;
    background-color: #3a58aa;
    margin: 7vh;
    font-family: 'Quicksand', sans-serif;
    color: #ebe7e4;
    border-radius: 30px;
    max-height: 100vh;
    box-shadow: 5px 5px 10px #ebe7e4;

}

aside p{
    text-align: justify;
    color: #ebe7e4;
}

aside img{
    width: 25vh;
}

.author-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    color: #ebe7e4;
}

.author-name h4{
    color: #8aaaff;
}

footer{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #4D5468;
    color: #ebe7e4;
    padding: 5vh;
}

.image-slider {
    max-width: 100vh;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }


  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @media screen and (max-width: 768px) {
    nav{
        flex-direction: column;
        max-width: 768px;
        width: 100%;
        gap: 3vh;
    }

    .home{
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;
        height: auto;
    }

    .home-right{
        align-items: center;
    }

    .home-title{
        align-items: center;
        text-align: center;
    }

    #home-image{
        max-height: 50vh;
    }

    .main-content{
        flex-direction: column;
    }
}